body {
  font-family: Roboto, Georgia, serif;
}

div {
  border: solid red 1px;
}

.BRIIndex_Header {
  border-color: green;
}

.BRIIndex_Menu {
  border-color: yellow;
}

.BRIIndex_Contenu {
  border-color: red;
}

.BRIIndex_Footer {
  border-color: blueviolet;
}

.BRIIndex_Debug {
  border-color: orange;
}
