@import "BRIEnvCSSVar";

body {
  @if variable-exists("BRIFONT") {
    font-family: $BRIFONT;
  }
}

div {
  @if variable-exists("DEBUG") and $DEBUG == true {
    border: dashed red 5px;
  }
  @else {
    border: none;
  }
}